In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt
import pickle
dataset = pd.read_csv("petrol_consumption.csv")

In [2]:
dataset.head(5)

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence,Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [4]:
dataset.columns

Index(['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence', 'Petrol_Consumption'],
      dtype='object')

In [5]:
dataset.columns.values

array(['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence', 'Petrol_Consumption'], dtype=object)

In [6]:
dataset.shape

(48, 5)

In [7]:
dataset.dtypes

Petrol_tax                   float64
Average_income                 int64
Paved_Highways                 int64
Population_Driver_licence    float64
Petrol_Consumption             int64
dtype: object

In [9]:
dataset['Petrol_Consumption'].unique()

array([541, 524, 561, 414, 410, 457, 344, 467, 464, 498, 580, 471, 525,
       508, 566, 635, 603, 714, 865, 640, 649, 540, 547, 460, 577, 631,
       574, 534, 571, 554, 628, 487, 644, 704, 648, 968, 587, 699, 632,
       591, 782, 510, 610], dtype=int64)

In [10]:
X = dataset.drop('Petrol_Consumption', axis=1)  
y = dataset['Petrol_Consumption']

In [11]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=0)

In [12]:
from sklearn.tree import DecisionTreeRegressor  
#regressor =pickle.load(open("C:\\eg\\1.h.txt","rb"))
regressor=DecisionTreeRegressor()

regressor.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [21]:
y_pred = regressor.predict(X_test) 
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
print(df)
df['diff'] =df['Actual'] -df['Predicted'] 
print(df['diff'])

    Actual  Predicted
29     534      547.0
4      410      414.0
26     577      574.0
30     571      554.0
32     577      574.0
37     704      574.0
34     487      648.0
40     587      649.0
7      467      414.0
10     580      464.0
29    -13.0
4      -4.0
26      3.0
30     17.0
32      3.0
37    130.0
34   -161.0
40    -62.0
7      53.0
10    116.0
Name: diff, dtype: float64

y_pred = regressor.predict(X_test)
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
print(df)  
df['diff'] =df['Actual'] -df['Predicted']
print(df['diff'])

In [14]:
from sklearn.metrics import mean_squared_error

In [17]:
mean_squared_error(y_test,y_pred)

6342.2